h1 {
  color: white;
}

h2 {
  color: white
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: radial-gradient(circle, #e6ffe7, #c7d1ff, #a4d4ff);
}

.space-top-right {
  margin: 20px 20px 0 0;
}

.space-top {
  margin: 20px 0 0 0;
}

.centered {
  text-align: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.4);
}