h1{
  color: white;
}

h2{
  color: white
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.space-top-right{
  margin: 20px 20px 0 0;
}

.space-top{
  margin: 20px 0 0 0;
}

.centered{
  text-align: center;
}