.square {
    width: 10px;
    height: 10px;
}

.active-empty{
    background-color: #111;
}

.inactive-empty{
    background-color: #222;
}

.active{
    background-color: #00ff00;
}

.inactive{
    background-color: #22f;
}