.left-control{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 10%;
    height: 100%;
    opacity: 0.5;
}

.top-control{
    position: fixed;
    left: 10%;
    top: 0px;
    width: 80%;
    height: 10%;
    opacity: 0.5;
}

.top-stacked-control{
    position: fixed;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 10%;
    opacity: 0.5;
}

.right-control{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 10%;
    height: 100%;
    opacity: 0.5;
}

.bottom-stacked-control{
    position: fixed;
    left: 10%;
    bottom: 10%;
    width: 80%;
    height: 10%;
    opacity: 0.5;
}

.bottom-control{
    position: fixed;
    left: 10%;
    bottom: 0px;
    width: 80%;
    height: 10%;
    opacity: 0.5;
}