.app {
  width: 300px;
  margin-top: 10px;
}

.game{
  position: relative;
  width: 242px;
  padding-left: 1px;
  padding-bottom: 1px;
}

.leader-board{
  background-color: white;
  position: absolute;
  top: 0px;
  opacity: 0.8;
  height: 100%;
  width: 100%;  
}

.controls{
  padding-top: 10px;
}

body{
  background-color: black;
}

h1{
  color: white;
}

h2{
  color: white
}